<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Agency Accounts</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Agency Accounts</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Request Message ID</th>
                        <th>Account Number</th>
                        <th>Agency Name</th>
                        <th>Validation Status</th>
                        <th>Account Status</th>
                        <th>Created Date</th>
                        <th>Response Message ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="account : ${agencyAccounts}">
                        <td th:text="${account.requestMessageId}"></td>
                        <td th:text="${account.accountNumber}"></td>
                        <td th:text="${account.agencyName}"></td>
                        <td th:text="${account.validationStatus}"></td>
                        <td th:text="${account.accountStatus}"></td>
                        <td th:text="${account.createdDate}"></td>
                        <td th:text="${account.responseMessageId}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
