<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form Page</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2 class="text-center mb-4">Form</h2>
				<form action="/accountdetail" method="POST">
					<div class="form-group">
						<label for="accountnumber">Account Number</label> <input
							type="text" class="form-control" id="accountnumber"
							name="accountnumber" required>
					</div>
					<div class="form-group">
						<label for="reqfilename">Request Message ID</label> <input
							type="text" class="form-control" id="reqfilename"
							name="reqfilename" required>
					</div>
					<div class="form-group">
						<label for="fromdate">From Date</label> <input type="date"
							class="form-control" id="fromdate" name="fromdate" required>
					</div>
					<div class="form-group">
						<label for="todate">To Date</label> <input type="date"
							class="form-control" id="todate" name="todate" required>
					</div>
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
